In [1]:
from ai_cdss.utils import MultiKeyDict
from rgs_interface.data.interface import fetch_patients_by_name, fetch_patients

In [35]:
mapping = {
    "VDH001": "juan",
    "VDH002": "ana",
    "VDH003": "jesus",
    "VDH004": "susana",
    "VDH005": "joan",
    "VDH006": "ismael",
    "VDH007": "anton",
    "VDH008": "gloria",
    "VDH009": "carles",
    "VDH010": "ricard",
    "VDH011": "rosacano",
    "VDH012": "rafael",
    "VDH013": "alfredo",
    "VDH014": "jose",
    "VDH015": "godo",
    "VDH016": "Hassan",
    "VDH017": "Carmen",
    # "VDH018": "juanfran",
    # "VDH019": "Marisa",
    # "VDH020": "mcarmen",
    "IT01" : "user_it01",
    "IT02" : "user_it02",
    "IT03" : "user_it03",
    "IT04" : "user_it04",
    "IT05" : "user_it05",
    "IT06" : "user_it06",
    "IT07" : "user_it07",
    "IT08" : "user_it08",
    "IT09" : "user_it09",
    "IT10" : "user_it10",
    "IT_02A" : "user_it02a",
    "IT_03A" : "user_it03a",
    "IT_04A" : "user_it04a",
    "IT_05A" : "user_it05a",
    "IT_06A" : "user_it06a",
    "IT_07A" : "user_it07a",
    "IT_08A" : "user_it08a",
    "IT_09A" : "user_it09a" ,
    "IT_10A" : "user_it10a" ,
}
map_id = {k:v for k,v in zip(mapping.values(), mapping.keys())}

In [36]:
patients = fetch_patients()

Database engine created successfully
Database engine closed

In [37]:
patients_nest = patients[patients["PATIENT_USER"].isin(mapping.values())][["PATIENT_ID", "PATIENT_USER"]]
patients_nest["NEST_ID"] = patients_nest["PATIENT_USER"].map(map_id)
map_nest_id = patients_nest[["PATIENT_ID", "NEST_ID"]].set_index("NEST_ID")
map_nest_id = map_nest_id.to_dict()["PATIENT_ID"]

In [43]:
map_nest_id.values()

dict_values([204, 775, 787, 788, 946, 947, 953, 955, 957, 1123, 1169, 1170, 1171, 1172, 1173, 1222, 1551, 1553, 1555, 1556, 2110, 2913, 2925, 2926, 2937, 2955, 2956, 2957, 2958, 2959, 2960, 2961, 2962, 2963, 3210, 3213])

### Read Clinical Scores

In [38]:
import pandas as pd

In [60]:
# Load from excel
column_names = ["BARTHEL", "ASH_PROXIMAL", "MA_DISTAL", "FATIGUE", "VAS", "FM_A", "FM_B", "FM_C", "FM_D", "FM_TOTAL", "ACT_AU", "ACT_QOM"]
scores = [pd.read_excel("data/NEST_clinical_score.xlsx", skiprows=1, sheet_name=time, index_col=0) for time in ["T0", "T1"]]
result = []
for i, score in enumerate(scores):
    score.columns = column_names
    score = score[score.index.isin(mapping.keys())]
    score.index = score.index.map(map_nest_id)
    score["FM_TOTAL"] = score[["FM_A", "FM_B", "FM_C", "FM_D"]].sum(axis=1)
    score["ACT_AU"].fillna(value=score["ACT_AU"].mean(), inplace=True)
    score["ACT_QOM"].fillna(value=score["ACT_QOM"].mean(), inplace=True)
    result.append(score)
    if i==0:
        score.to_csv(f"data/clinical_scores.csv", index_label="PATIENT_ID")

/tmp/ipykernel_3150512/2054862316.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score["FM_TOTAL"] = score[["FM_A", "FM_B", "FM_C", "FM_D"]].sum(axis=1)
/tmp/ipykernel_3150512/2054862316.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  score["ACT_AU"].fillna(value=score["ACT_AU"].mean(), inplace=True)
/tmp/ipykernel_3150512/2054862316.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score["ACT_AU"].fillna(value=score["ACT_AU"].mean(), inplace=True)
/tmp/ipykernel_3150512/2054862316.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  score["ACT_QOM"].fillna(value=score["ACT_QOM"].mean(), inplace=True)
/tmp/ipykernel_3150512/2054862316.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score["ACT_QOM"].fillna(value=score["ACT_QOM"].mean(), inplace=True)
/tmp/ipykernel_3150512/2054862316.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score["FM_TOTAL"] = score[["FM_A", "FM_B", "FM_C", "FM_D"]].sum(axis=1)
/tmp/ipykernel_3150512/2054862316.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  score["ACT_AU"].fillna(value=score["ACT_AU"].mean(), inplace=True)
/tmp/ipykernel_3150512/2054862316.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score["ACT_AU"].fillna(value=score["ACT_AU"].mean(), inplace=True)
/tmp/ipykernel_3150512/2054862316.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  score["ACT_QOM"].fillna(value=score["ACT_QOM"].mean(), inplace=True)
/tmp/ipykernel_3150512/2054862316.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score["ACT_QOM"].fillna(value=score["ACT_QOM"].mean(), inplace=True)

In [61]:
from ai_cdss.ppf import load_patient_subscales
load_patient_subscales("data/clinical_scores.csv")

File copied to default directory: /home/dav/.ai_cdss/data/clinical_scores.csv

,BARTHEL,ASH_PROXIMAL,MA_DISTAL,FATIGUE,VAS,FM_A,FM_B,FM_C,FM_D,FM_TOTAL,ACT_AU,ACT_QOM
PATIENT_ID,,,,,,,,,,,,
953,55,2,2,57,5.0,27,3,8,0,38,3.075123,3.107547
955,85,2,1,39,0.0,25,5,12,2,44,3.075123,3.107547
946,100,2,1,31,4.0,25,5,11,4,45,3.075123,3.107547
947,80,1,1,45,7.0,36,10,14,5,65,3.075123,3.107547
957,75,2,2,51,3.0,20,4,4,4,32,3.075123,3.107547
1555,100,1,1,44,3.0,35,6,14,4,59,3.075123,3.107547
1551,55,3,2,47,2.0,17,2,3,3,25,3.075123,3.107547
1553,100,1,2,52,8.0,19,5,8,2,34,3.075123,3.107547
1556,100,1,1,50,4.0,26,7,12,6,51,3.075123,3.107547
1222,100,0,0,11,0.0,34,10,14,6,64,3.075123,3.107547
2110,95,0,0,29,7.0,31,5,13,4,53,3.075123,3.107547
775,90,0,0,33,3.0,33,9,14,5,61,3.075123,3.107547
788,100,0,0,19,2.0,31,8,8,6,53,3.075123,3.107547
787,30,0,0,52,5.0,28,5,7,2,42,3.075123,3.107547
1123,85,0,0,23,2.0,31,6,13,6,56,3.075123,3.107547
1169,70,2,2,14,6.0,9,0,2,1,12,3.075123,3.107547
1170,100,0,0,12,2.0,33,8,14,3,58,3.075123,3.107547
1171,80,1,2,52,6.0,26,4,7,2,39,3.075123,3.107547
1172,100,0,0,11,1.0,35,9,14,5,63,3.075123,3.107547
1173,95,0,0,15,0.0,35,9,14,4,62,3.075123,3.107547
2955,100,0,0,29,0.0,31,8,12,4,55,4.620690,4.655172
2956,65,0,1,55,0.0,21,5,10,2,38,1.538462,1.692308
2957,100,0,0,39,7.0,33,5,9,4,51,4.283333,4.366667
2958,80,0,0,33,5.0,27,6,11,4,48,4.283333,4.383333
2959,50,0,0,49,5.0,26,7,10,3,46,3.783333,3.866667
2960,80,1,1,51,4.0,29,8,11,3,51,3.241379,3.189655
2961,65,0,0,51,3.0,25,5,12,3,45,4.700000,4.400000
2962,60,0,1,23,1.0,15,0,4,3,22,0.875000,1.025000
2963,90,0,0,45,7.0,26,6,12,5,49,4.416667,4.083333
2913,80,1,1,62,0.0,33,7,10,0,50,2.275862,2.000000
2925,95,1,2,25,5.0,16,4,4,3,27,2.333333,3.000000
2926,85,0,0,41,0.0,30,6,14,1,51,2.533333,3.000000
2937,95,1,2,36,0.0,17,5,4,3,29,4.517241,4.758621
204,85,1,1,25,6.0,22,7,10,3,42,1.766667,2.200000
3210,85,3,2,58,8.0,25,5,7,3,40,1.000000,1.000000
3213,90,1,1,40,0.0,19,5,7,3,34,3.033333,2.100000

In [70]:
nest = pd.DataFrame({"DIFF": result[1]["FM_TOTAL"] - result[0]["FM_TOTAL"]})

In [71]:
nest["T0"] = result[0]["FM_TOTAL"]
nest["T1"] = result[1]["FM_TOTAL"]

In [72]:
nest.columns

Index(['DIFF', 'T0', 'T1'], dtype='object')

In [73]:
nest

      DIFF  T0  T1
953      0  38  38
955      0  44  44
946      1  45  46
947      0  65  65
957      0  32  32
1555     0  59  59
1551     0  25  25
1553     0  34  34
1556     0  51  51
1222     0  64  64
2110     6  53  59
775      1  61  62
788      4  53  57
787     13  42  55
1123    -2  56  54
1169     5  12  17
1170     2  58  60
1171     4  39  43
1172     1  63  64
1173     2  62  64
2955     6  55  61
2956     7  38  45
2957     6  51  57
2958     7  48  55
2959     9  46  55
2960     7  51  58
2961    11  45  56
2962     4  22  26
2963     9  49  58
2913     0  50  50
2925     1  27  28
2926     0  51  51
2937     0  29  29
204      0  42  42
3210     0  40  40
3213     0  34  34

In [74]:
nest.to_csv("data/nest_clinical.csv", index_label="PATIENT_ID")

In [ ]:
map_nest_id

In [ ]:
import seaborn as sns
sns.scatterplot(nest, x="T0", y="T1")